/*Color*/
$orange:#FF6A3D;
$yellow:#F4DB7D;
$orange-light:#f78a6a;
$blue-dark:#1A2238;
$blue:#3e5983;
$blue-light:#9DAAF2;
$background-cover:linear-gradient(9deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);

/*Breakpoint*/
$breakpoint-mobile: 720px;

/*Transition*/
$transition-speed: all 0.3s 0s ease;

/*Margin*/
$margin-topBottom-desktop: 35px auto;
$margin-topBottom-mobile: 15px auto;

@import 'component/flotting-button';
@import 'component/header';
@import 'component/project-box';
@import 'component/tags';
@import 'component/layouts';
@import 'component/about';
@import 'plugins/splide-4.1.3/dist/css/splide-core.min.css';

/*paragraph*/
.paragraph{
  padding-top:15px;
	}
@media (max-width: $breakpoint-mobile) {
  .paragraph{
	padding-top:10px;
  }

}

/*TEXT decoration*/
.title--primary,
.title--secondary,
.paragraph,
{
 &.black{
   color: black;
 }
  &.white{
	color: white;
  }
  &.orange{
	color: $orange;
  }
  &.left{
	text-align: left;
  }
  &.right{
	text-align: right;
  }
  &.center{
	text-align: center;
  }
  @media (max-width: $breakpoint-mobile) {
	&.right{
	  text-align: left;
	}
  }
}

