<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{$basePath}/assets/css/main.css">

	<title>{$title} | David Havlíček</title>
</head>

<body>
	<header>
		{if !$presenter->isLinkCurrent('Homepage:default')}
			<button><a n:href="{$back_btn}">BACK</a></button>
		{/if}
		<aside><p>David Havliček</p></aside>
		<h1>{$title}</h1>
	</header>

	{include content}

	{block lama}

</body>
</html>
