<!DOCTYPE html>
<html>
<head>

	<script n:syntax="off">
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-N4MD9GL');
	</script>
	<!-- End Google Tag Manager -->


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{$title} | David Havlíček</title>
	<meta name="description" content="{$description}">
	<meta name="keywords" content="{$keywords}">
	<meta name="author" content="Petr Němec">
	<meta name="robots" content="index, follow">

	<link rel="canonical" href="https://havlicekdavid.cz/www/index.php">

	<link rel="stylesheet" href="{$basePath}/assets/css/main.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/lightbox.css">
	<link rel="stylesheet" href="{$basePath}/modules/justifiedGallery.min/justifiedGallery.min.css">

	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/assets/images/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/assets/images/site.webmanifest">
	<link rel="mask-icon" href="{$basePath}/assets/images/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{$basePath}/assets/images/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="{$basePath}/assets/images/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>




</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4MD9GL"
				  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{if !$presenter->isLinkCurrent('Homepage:default')}
	<div class="btn-back">
		<a n:href="{$back_btn}">
			<img src="{$basePath}/assets/images/arrow.svg" alt="Back">
		</a>
	</div>
{/if}
<div  n:foreach="$flashes as $flash" n:class=" block-center, alert, 'alert-' . $flash->type">
	<p>{$flash->message}</p>
</div>
	<header class="max-width">
		<aside class="home-btn"><a n:href="Homepage:default">David Havliček</a></aside>
		<h1>{$heading|noescape}</h1>
	</header>
<div class="max-width block-center flex-box">
	{include content}
</div>

{control contactForm}


<footer>
		<section class="max-width block-center">
			<div class="footer-box about">
				<h2>David Havlíček</h2>
				<p>Mohu vám zaznamenat nejrůznější akce. Od zážitků z firemních teambuildingů, ukázku produktů pro podporu prodeje či prezentaci vaší firmy až po maturitní plesy a svatby <a n:href="About:default">Zobrazit více...</a></p>
				<div class="social-box">
					<a class="soc-1" href="mailto:dhavlicek@gmail.com"><i class="fa-solid fa-envelope"></i></a>
					<a class="soc-2" href="tel:+420607978857"><i class="fa-solid fa-phone"></i></a>
					<a class="soc-3" target="_blank" href="https://www.instagram.com/davehavv/"><i class="fa-brands fa-instagram"></i></a>
				</div>
				<p>
					{if $user->isLoggedIn()}
						<a n:href="Admin:out">Odhlásit</a>
					{/if}
				</p>
			</div>
			<div class="footer-box">
				<a href=""><h2><i class="fa-brands fa-instagram"></i> Sleduj moji další tvorbu... </h2></a>
				<div class="instagram-box">
					<a href="https://www.instagram.com/davehavv/" target="_blank" class="ig-1"><img src="{$basePath}/image/instagram/1.png"></a>
					<a href="https://www.instagram.com/davehavv/" target="_blank" class="ig-2"><img src="{$basePath}/image/instagram/2.png"></a>
					<a href="https://www.instagram.com/davehavv/" target="_blank" class="ig-3"><img src="{$basePath}/image/instagram/3.png"></a>
					<a href="https://www.instagram.com/davehavv/" target="_blank" class="ig-4"><img src="{$basePath}/image/instagram/3.png"></a>
					<a href="https://www.instagram.com/davehavv/" target="_blank" class="ig-5"><img src="{$basePath}/image/instagram/1.png"></a>
					<a href="https://www.instagram.com/davehavv/" target="_blank" class="ig-6"><img src="{$basePath}/image/instagram/2.png"></a>
				</div>
			</div>
		</section>
		<!--
		<section class="max-width block-center">
			<div class="cookie-box">
				<a href=""><p>Petr Němec</p></a>
			</div>
		</section>
		-->
</footer>
<script src="{$basePath}/assets/js/jQuery.js"></script>
<script src="{$basePath}/modules/justifiedGallery.min/jquery.justifiedGallery.min.js"></script>
<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
<script src="{$basePath}/assets/js/lightbox.min.js"></script>
<script src="{$basePath}/assets/js/main.js"></script>
<script>
  naja.initialize();
</script>
</body>

</html>
