<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{$title} | David Havlíček</title>
	<meta name="description" content="{$description}">
	<meta name="keywords" content="{$keywords}">
	<meta name="author" content="Petr Němec">
	<meta name="robots" content="index, follow">

	<link rel="canonical" href="https://havlicekdavid.cz/www/index.php">

	<link rel="stylesheet" href="{$basePath}/assets/css/main.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/lightbox.css">
	<link rel="stylesheet" href="{$basePath}/modules/justifiedGallery.min/justifiedGallery.min.css">

	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/assets/images/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/assets/images/site.webmanifest">
	<link rel="mask-icon" href="{$basePath}/assets/images/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{$basePath}/assets/images/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="{$basePath}/assets/images/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>

<body>

{if !$presenter->isLinkCurrent('Homepage:default')}
	<div class="btn-back">
		<a n:href="{$back_btn}">
			<img src="{$basePath}/assets/images/arrow.svg" alt="Back">
		</a>
	</div>
{/if}
<div  n:foreach="$flashes as $flash" n:class=" block-center, alert, 'alert-' . $flash->type">
	<p>{$flash->message}</p>
</div>
	<header class="max-width">
		<aside class="home-btn"><a n:href="Homepage:default">David Havliček</a></aside>
		<h1>{$heading|noescape}</h1>
	</header>
<div class="max-width block-center flex-box">
	{include content}
</div>

{control contactForm}


<footer>
		<section class="footer-box max-width block-center">
			<h2>
				David Havlíček
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent dapibus. Maecenas lorem. Donec quis nibh at felis congue commodo. Donec vitae arcu. Donec quis nibh at felis congue commodo. Morbi scelerisque luctus velit. Maecenas sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos
				<a n:href="About:default">Zobrazit více...</a>
			</p>

			<p>
				{if $user->isLoggedIn()}
					<li>
						<a n:href="Admin:out">Odhlásit</a>
					</li>
				{/if}
			</p>
		</section>
</footer>
<script src="{$basePath}/assets/js/jQuery.js"></script>
<script src="{$basePath}/modules/justifiedGallery.min/jquery.justifiedGallery.min.js"></script>
<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
<script src="{$basePath}/assets/js/lightbox.min.js"></script>
<script src="{$basePath}/assets/js/main.js"></script>
<script>
  naja.initialize();
</script>
</body>

</html>
