{var $title = "Editace homepage"}
{var $heading = 'Editace homepage'}
{var $description = ''}
{var $keywords = ''}
{var $back_btn = "Homepage:default"}
{block content}
<div class="form login-form">
	{control homepageForm}
</div>
