@font-face {
	font-family: 'BebasNeue';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/BebasNeue-Regular.ttf') format('opentype');
}
*{
	text-decoration: none;
}

html{
	--black-color:black;
	--white-color:white;
	--oragne-color:#FF6A3D;
	--darkblue-color: #1A2238;
	--lighblue-color: #9DAAF2;
	--yellow-color: #F4DB7D;
}
body{
	margin: 0;
}

h1,h2, h3, h4, h5, h6, a, span, p{
	font-family: 'BebasNeue';
	margin-block-start: 0em;
	margin-block-end: 0em;
}

a{
	color: var(--darkblue-color);
	font-size: 1rem;
}

h1{
	color: var(--black-color);
	font-size: 3rem;
	text-align: center;
}
h2{
	color: var(--white-color);
	font-size: 2.125;
}

p{
	color: var(--black-color);
	font-size: 1rem;
	text-align: center;
}

.max-width{
	max-width: 1280px;
}

.block-center{
	margin: auto;
}

footer{
	background-color: var(--black-color);
	bottom: 0;
	width: 100%;
	height: 300px;
}
.footer-box p a{
	color: var(--oragne-color);
}
.footer-box p{
	color: var(--white-color);
	text-align:left;
	max-width:33%;
}

img{
	max-height: 200px;
}

.main_btn{
	background-color: var(--darkblue-color);
	height: 50px;
	border: 0;
	border-radius: 15px;
}
.main_btn a{
	padding: 0 30px;
	color: var(--white-color);
	text-decoration: none;
	font-size: 1.23rem;
}

.center-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

/*Projects*/
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 30px;
}

.gallery .project{
	background-repeat: no-repeat;
	background-size: cover;
	height: 330px;
}

.item.square {
	grid-column: span 1;
}

.item.landscape {
	grid-column: span 2;
}

.tags-box{
	position:relative;
	top:10px;
	text-align: right;
	right: 10px;
}

.tags-box span{
	padding: 3px 10px;
	border-radius: 10px;
	color: var(--white-color);
	text-decoration: none;
	text-align: center;
}

.tag-box.projekt1{
	background-color: var(--oragne-color);
}
.tag-box.projekt2{
	background-color: var(--lighblue-color);
}

.project-header{
	margin: 0px;
	z-index: 3;
	position: relative;
	height: 100%;
}

.header-content{
	position: absolute;
	bottom: 10px;
	margin-left: 10px;
}

.header-content span{
	color: var(--white-color);
}





