parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

security:
	users:
		admin: secret  # user 'Admin', password 'secret'

session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
