{var $title = "O mně"}
{var $heading ='Ahoj, já jsem David!'}
{var $description = ''}
{var $keywords = ''}


{var $back_btn = "Homepage:default"}
{block content}
<div class="about-background">
	<div class="about-box">
		<p>Foto a video tvůrce!</p>
	</div>
</div>
